extends layouts/_default
block content

	//- Header
	header#hero
		.container-narrow
			.row
				.col-12
					h1 We can do something bigger, together
					p ladspiahdoiashdoasihdaosidhasiodhasoid
					br
					a.btn.btn-default Get Started
	
	section#about
			.container
				.row
					.col-md-6.col-xs-12
						h2 About Cognetive Catalyst
						p.
							Vestibulum rutrum quam vitae fringilla tincidunt.
							Suspendisse nec tortor urna.
							Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
							Donec sagittis faucibus lacus eget blandit.
							Mauris vitae ultricies metus, at condimentum nulla.
							Donec quis ornare lacus.
							Etiam gravida mollis tortor quis porttitor.
						a.btn.btn-flat Get Started
										
					.col-md-6.visible-md.visible-lg
							img.img-responsive(src='images/video.png')

	section#organizers
		h2.title Community Value
		.container
			.row
				.col-sm-4
					.thumbnail
						img.img-responsive(src='http://placehold.it/350x300', alt='')
						.caption
							h3 Thumbnail label
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.col-sm-4
					.thumbnail
						img.img-responsive(src='http://placehold.it/350x300', alt='')
						.caption
							h3 Thumbnail label
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.col-sm-4
					.thumbnail
						img.img-responsive(src='http://placehold.it/350x300', alt='')
						.caption
							h3 Thumbnail label
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	
	section#projects
		h2.title Nosso Projetos
		.container
			.row

				.col-sm-4
					.card
						span social
						h3  Annotations Assist
						p Discover details about the IBM Design Language animation update, where the moving parts of the user interface meet the business machine.
						br
						a.btn read more

				.col-sm-4
					.card
						span social
						h3  Annotations Assist
						p Discover details about the IBM Design Language animation update, where the moving parts of the user interface meet the business machine.
						br
						a.btn read more
					
				.col-sm-4
					.card
						span social
						h3  Annotations Assist
						p Discover details about the IBM Design Language animation update, where the moving parts of the user interface meet the business machine.
						br
						a.btn read more
					
						
	section#news
		h2.title News, Blog and Event
		.container
			.row
				.col-sm-4
					img.img-responsive(src='http://placehold.it/350x300', alt='')
				.col-sm-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
			.row
				.col-sm-4
					img.img-responsive(src='http://placehold.it/350x300', alt='')
				.col-sm-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
			.row
				.col-sm-4
					img.img-responsive(src='http://placehold.it/350x300', alt='')
				.col-sm-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
