// Navigation
nav.navbar.navbar-default.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-colapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#page-top')
        img(src='images/Icon.png' class='brand')
        span GDG Fortaleza

    #navbar-colapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        li.page-scroll
          a(href='#page-top') Inicio
        li.page-scroll
          a(href='#about-us') Quem Somos
        li.page-scroll
          a(href='#projects') Projetos
         li.page-scroll
          a(href='#team') Equipe
        li.page-scroll
          a(href='#contact') Contato
